body {
  background-color: #fafafa;
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-size: 1.5rem;
}

@media (min-width: 400px) {
  h2 {
    font-size: 2rem;
  }
}

a, .fa, .fab, .fas {
  color: #d00000;

  &:hover, &:focus {
    color: #a00000;
  }
}

dl dt {
  font-weight: bold;
}

dl dd {
  margin-left: 0;
}
