a.facebook {
  color: #1779ba;
}

a.facebook:hover, a.facebook:focus {
  color: #1468a0;
}

.header-for-dummies {
  display: none;
}

@media (min-width: 800px) {
  .header-for-dummies {
    display: block;
    text-align: right;
    padding: 3px 12px;
  }
}

.subnav-hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
  padding-bottom: 1em;
  background: #d00000;
  background: linear-gradient(#a00000, #d00000);
  position: relative;
  margin-bottom: 24px;
}

.subnav-hero-section a {
  text-decoration: none;
  text-align: center;
}

.subnav-hero-section img.logo {
  width: 80px;
}

.subnav-hero-section h1 {
  font-size: 1.5rem;
  font-family: 'Dancing Script', cursive;
  font-weight: normal;
}

@media (min-width: 400px) {
  .subnav-hero-section h1 {
    font-size: 2rem;
  }

  .subnav-hero-section img.logo {
    width: 120px;
  }
}

@media (min-width: 640px) {
  .subnav-hero-section {
    padding: 5em 0;
    padding-bottom: 3em;
    flex-direction: row;
  }

  .subnav-hero-section h1 {
    margin-left: 1em;
    font-size: 2.5rem;
  }
}

@media (min-width: 800px) {
  .subnav-hero-section {
    padding: 6em 0;
    padding-bottom: 5em;
  }
}

.subnav-hero-section .subnav-hero-headline {
  color: #fafafa;
}

.subnav-hero-subnav {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  background: #d00000;
  background: linear-gradient(#a00000, #d00000);
  background-size: cover;
  text-align: center;
  transition: transform 250ms ease;
  transform: translateX(-100%);
}

.subnav-hero-subnav li a {
  padding: 1.5em 0;
  color: #fafafa;
  display: block;
  letter-spacing: 1px;
  transition: background-color 250ms ease-in-out;
}

.subnav-hero-subnav li a.is-active {
  background-color: rgba(254, 254, 254, 0.25);
}

.subnav-hero-subnav li a:hover {
  background-color: rgba(254, 254, 254, 0.25);
}

.subnav-hero-subnav.is-open {
  transform: translateX(0);
}

a.overlay-nav-menu-open,
a.overlay-nav-menu-close {
  z-index: 9999;
  top: 0.25em;
  left: 0.5em;
  font-size: 2rem;
  transition: opacity 200ms ease;
  opacity: 0.85;
}

a.fas.overlay-nav-menu-open,
a.fas.overlay-nav-menu-close {
  color: #fafafa;
}

a.overlay-nav-menu-open:hover,
a.overlay-nav-menu-open:focus,
a.overlay-nav-menu-close:hover,
a.overlay-nav-menu-close:focus {
  opacity: 1;
}

a.overlay-nav-menu-open {
  position: absolute;
  display: inline-block;
}

a.overlay-nav-menu-close {
  position: fixed;
  display: none;
}

.subnav-hero-subnav.is-open ~ a.overlay-nav-menu-open {
  display: none;
}

.subnav-hero-subnav.is-open ~ a.overlay-nav-menu-close {
  display: inline-block;
}

@media (min-width: 800px) {
  .subnav-hero-subnav {
    flex-direction: row;
    max-width: 800px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    transform: translateX(0);
    top: auto;
    background: transparent;
  }

  .subnav-hero-subnav li a {
    padding: 0.9rem 1rem 0.6rem 1rem;
  }

  a.overlay-nav-menu-open,
  a.overlay-nav-menu-close {
    display: none;
  }
}
