.photos {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  margin-bottom: 1rem;

  &.small {
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    margin-bottom: 0.5rem;
  }
}

.photos .photo-wrapper {
  position: relative;
  background: black;
}

.photos .photo-wrapper a.thumbnail {
  display: block;
  border: 4px solid $color-white;
  box-shadow: 0 0 1px 1px #ddd;
  transition: transform 250ms ease;
}

.photos .photo-wrapper a img {
  width: 100%;
}

.photos .photo-wrapper a.thumbnail .caption {
  display: none;
  position: absolute;
  left: .5rem;
  bottom: .5rem;
  right: .5rem;
  color: $color-white;
  text-shadow: 0 0 3px $color-brand-dark;
  line-height: 1rem;
  font-size: 0.9rem;
}

.photos .photo-wrapper a.thumbnail:hover,
.photos .photo-wrapper a.thumbnail:focus {
  transform: scale(1.05);
  box-shadow: 0 0 6px 1px $color-brand-dark;
}

.photos .photo-wrapper a.thumbnail:hover img,
.photos .photo-wrapper a.thumbnail:focus img {
  opacity: 0.5;
}

.photos .photo-wrapper a.thumbnail:hover .caption {
  display: block;
}
