body {
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

.grid-container {
  max-width: 800px;
}

.header-for-dummies {
  display: none;
}

@media (min-width: 800px) {
  nav.overlay-nav {
    display: none;
  }

  .header-for-dummies {
    display: block;
    text-align: right;
    padding: 3px 12px;
  }
}

.overlay-nav-menu-toggle {
  position: absolute;
  font-size: 2.5rem;
  z-index: 5000;
  color: white;
  top: 0.5rem;
  left: 1.5rem;
  transition: all 0.4s ease-in-out;
}

.overlay-nav-menu-toggle:hover {
  transition: all 0.4s ease-in-out;
  color: #fefefe;
}

.overlay-nav-menu {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  list-style: none;
  background: #d00000;
  background-size: cover;
  text-align: center;
  -webkit-transform: translateX(-100%) rotateX(40deg);
          transform: translateX(-100%) rotateX(40deg);
  transition: all 400ms cubic-bezier(1, -0.4, 0.44, 0.985);
}

.overlay-nav-menu li {
  font-size: 1.5rem;
}

.overlay-nav-menu a {
  display: block;
  color: #fefefe;
  font-weight: bold;
  height: 6.25rem;
  line-height: 6.25rem;
  border-bottom: 1px solid rgba(254, 254, 254, 0.5);
  text-decoration: none;
}

.overlay-nav-menu a:hover,
.overlay-nav-menu a.is-active {
  background-color: rgba(254, 254, 254, 0.6);
  color: #0a0a0a;
}

.overlay-nav-menu.is-open {
  top: 0;
  opacity: 1;
  -webkit-transform: perspective(200px) translateX(0) rotateX(0);
          transform: perspective(200px) translateX(0) rotateX(0);
}

.overlay-nav-menu ~ .overlay-nav-menu-toggle.close {
  display: none;
}

.overlay-nav-menu.is-open ~ .overlay-nav-menu-toggle.close {
  display: inline-block;
  transition: all 0.4s ease-in-out;
  /*
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  */
  color: white;
}

.overlay-nav-menu.is-open ~ .overlay-nav-menu-toggle.open {
  display: none;
}

.subnav-hero-section {
  text-align: center;
  background: #d00000;
  background: linear-gradient(#a00000, #d00000);
  position: relative;
  overflow: visible;
  height: 200px;
  margin-bottom: 24px;
  padding-top: 50px;
}

@media (min-width: 800px) {
  .subnav-hero-section {
    height: 300px;
  }
}

.subnav-hero-section img.logo {
  width: 80px;
}

@media (min-width: 640px) {
  .subnav-hero-section img.logo {
    width: 120px;
  }
}

.subnav-hero-section h1 {
  margin-top: 10px;
  font-size: 1.5rem;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

@media (min-width: 400px) {
  .subnav-hero-section {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0px;
  }

  .subnav-hero-section h1 {
    margin-left: 15px;
  }
}

@media (min-width: 640px) {
  .subnav-hero-section h1 {
    margin-left: 30px;
    font-size: 2.5rem;
  }
}

.subnav-hero-section .subnav-hero-headline {
  color: #fefefe;
}

.subnav-hero-subnav {
  display: none;
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
}

@media (min-width: 800px) {
  .subnav-hero-subnav {
    display: block;
  }
}

.subnav-hero-subnav li {
  float: none;
  display: inline-block;
}

.subnav-hero-subnav li a {
  padding: 0.9rem 1rem;
  font-size: 0.75rem;
  color: #fefefe;
  text-transform: uppercase;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.35s ease-in-out;
}

.subnav-hero-subnav li a.is-active {
  background: rgba(254, 254, 254, 0.15);
}

.subnav-hero-subnav li a:hover {
  background: rgba(254, 254, 254, 0.15);
}

#blueimp-gallery .description {
  display: none;
  position: absolute;
  bottom: 0;
  padding: 12px;
  color: #bbb;
  font-size: 12px;
}

#blueimp-gallery.blueimp-gallery-controls .description {
  display: block;
}

a.see-more-products {
  background-color: #d00000;
}

a.see-more-products:focus,
a.see-more-products:hover {
  background-color: #a00000;
}

.photos {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  margin-bottom: 1rem;
}

.photos .photo-wrapper {
  position: relative;
  background: black;
}

.photos .photo-wrapper a.thumbnail {
  display: block;
  margin: 0;
  transition: transform 250ms ease;
}

.photos .photo-wrapper a img {
  width: 100%;
}

.photos .photo-wrapper a.thumbnail .caption {
  display: none;
  position: absolute;
  left: .5rem;
  bottom: .5rem;
  right: .5rem;
  color: #fff;
  text-shadow: 0 0 3px #a00000;
  line-height: 1rem;
  font-size: 0.9rem;
}

.photos .photo-wrapper a.thumbnail:hover,
.photos .photo-wrapper a.thumbnail:focus {
  transform: scale(1.05);
  box-shadow: 0 0 6px 1px #a00000;
}

.photos .photo-wrapper a.thumbnail:hover img,
.photos .photo-wrapper a.thumbnail:focus img {
  opacity: 0.5;
}

.photos .photo-wrapper a.thumbnail:hover .caption {
  display: block;
}
