@import "remedy";
@import "variables";
@import "base";
@import "header";
@import "photos";
@import "footer";

img.full-width {
  width: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0.5em;
}

#blueimp-gallery .description {
  display: none;
  position: absolute;
  bottom: 0;
  padding: 12px;
  color: #bbb;
  font-size: 12px;
}

#blueimp-gallery.blueimp-gallery-controls .description {
  display: block;
}

a.see-more-products {
  background-color: $color-brand;
  color: $color-white;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em;
  text-align: center;
  font-size: 1.25rem;
}

a.see-more-products:focus,
a.see-more-products:hover {
  background-color: $color-brand-dark;
}
