@import "remedy";
@import "variables";
@import "base";
@import "header";
@import "photos";
@import "footer";

img.full-width {
  width: 100%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0.5em;
}

#blueimp-gallery .caption {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 1em;
  text-align: right;
}

#blueimp-gallery .caption a {
  opacity: 0.6;
  transition: opacity 150ms ease-out;
}

#blueimp-gallery .caption a:hover,
#blueimp-gallery .caption a:focus {
  opacity: 1;
}

a.button {
  display: inline-block;
  border-radius: 0.25em;
  background-color: $color-brand;
  color: $color-white;
  text-decoration: none;
  padding: 1em;
  text-align: center;
  line-height: 1;

  &.small {
    font-size: 0.75rem;
  }

  &.large {
    font-size: 1.25rem;
  }

  &.expanded {
    display: block;
  }
}

a.button:focus,
a.button:hover {
  background-color: $color-brand-dark;
}

.category-wrapper,
.product-wrapper {
  margin-bottom: 3em;
}

.photo-and-description {
  .photo {
    margin-bottom: 1em;
  }
}

@media(min-width: 640px) {
  .photo-and-description {
    display: flex;

    .photo {
      flex: 1;
    }

    .description {
      flex: 1;
      margin-left: 1em;
    }
  }
}
