body {
  background-color: #fafafa;
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
}

@media (min-width: 400px) {
  h2 {
    font-size: 2rem;
  }
}

a {
  color: #d00000;
}

a:hover, a:focus {
  color: #a00000;
}

a.facebook {
  color: #1779ba;
}

a.facebook:hover, a.facebook:focus {
  color: #1468a0;
}

img.full-width {
  width: 100%;
}

.grid-container {
  max-width: 800px;
}

.header-for-dummies {
  display: none;
}

@media (min-width: 800px) {
  .header-for-dummies {
    display: block;
    text-align: right;
    padding: 3px 12px;
  }
}

.subnav-hero-section {
  padding: 3em;
  text-align: center;
  background: #d00000;
  background: linear-gradient(#a00000, #d00000);
  position: relative;
  overflow: visible;
  margin-bottom: 24px;
}

.subnav-hero-section img.logo {
  width: 80px;
}

.subnav-hero-section h1 {
  margin-top: 10px;
  font-size: 1.5rem;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

@media (min-width: 400px) {
  .subnav-hero-section h1 {
    font-size: 2rem;
    margin-left: 15px;
  }

  .subnav-hero-section img.logo {
    width: 120px;
  }
}

@media (min-width: 640px) {
  .subnav-hero-section {
    padding: 5em 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .subnav-hero-section h1 {
    margin-left: 30px;
    font-size: 2.5rem;
  }
}

@media (min-width: 800px) {
  .subnav-hero-section {
    padding: 7em 0;
  }
}

.subnav-hero-section .subnav-hero-headline {
  color: #fafafa;
}

.subnav-hero-subnav {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  background: #d00000;
  background: linear-gradient(#a00000, #d00000);
  background-size: cover;
  text-align: center;
  transition: transform 250ms ease;
  transform: translateX(-100%);
}

.subnav-hero-subnav li a {
  padding: 1.5em 0;
  color: #fafafa;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 250ms ease-in-out;
}

.subnav-hero-subnav li a.is-active {
  background-color: rgba(254, 254, 254, 0.15);
}

.subnav-hero-subnav li a:hover {
  background-color: rgba(254, 254, 254, 0.15);
}

.subnav-hero-subnav.is-open {
  transform: translateX(0);
}

a.overlay-nav-menu-open,
a.overlay-nav-menu-close {
  z-index: 9999;
  top: 0.25em;
  left: 0.5em;
  font-size: 2.5rem;
  color: #fafafa;
  transition: transform 200ms ease;
}

a.overlay-nav-menu-open:hover,
a.overlay-nav-menu-open:focus,
a.overlay-nav-menu-close:hover,
a.overlay-nav-menu-close:focus {
  transform: scale(1.1);
}

a.overlay-nav-menu-open {
  position: absolute;
  display: inline-block;
}

a.overlay-nav-menu-close {
  position: fixed;
  display: none;
}

.subnav-hero-subnav.is-open ~ a.overlay-nav-menu-open {
  display: none;
}

.subnav-hero-subnav.is-open ~ a.overlay-nav-menu-close {
  display: inline-block;
}

@media (min-width: 800px) {
  .subnav-hero-subnav {
    flex-direction: row;
    max-width: 800px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    transform: translateX(0);
    top: auto;
    background: transparent;
  }

  .subnav-hero-subnav li a {
    padding: 0.9rem 1rem 0.6rem 1rem;
  }

  a.overlay-nav-menu-open,
  a.overlay-nav-menu-close {
    display: none;
  }
}

#blueimp-gallery .description {
  display: none;
  position: absolute;
  bottom: 0;
  padding: 12px;
  color: #bbb;
  font-size: 12px;
}

#blueimp-gallery.blueimp-gallery-controls .description {
  display: block;
}

a.see-more-products {
  background-color: #d00000;
}

a.see-more-products:focus,
a.see-more-products:hover {
  background-color: #a00000;
}

.photos {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  margin-bottom: 1rem;
}

.photos .photo-wrapper {
  position: relative;
  background: black;
}

.photos .photo-wrapper a.thumbnail {
  display: block;
  margin: 0;
  transition: transform 250ms ease;
}

.photos .photo-wrapper a img {
  width: 100%;
}

.photos .photo-wrapper a.thumbnail .caption {
  display: none;
  position: absolute;
  left: .5rem;
  bottom: .5rem;
  right: .5rem;
  color: #fafafa;
  text-shadow: 0 0 3px #a00000;
  line-height: 1rem;
  font-size: 0.9rem;
}

.photos .photo-wrapper a.thumbnail:hover,
.photos .photo-wrapper a.thumbnail:focus {
  transform: scale(1.05);
  box-shadow: 0 0 6px 1px #a00000;
}

.photos .photo-wrapper a.thumbnail:hover img,
.photos .photo-wrapper a.thumbnail:focus img {
  opacity: 0.5;
}

.photos .photo-wrapper a.thumbnail:hover .caption {
  display: block;
}

footer.cpp {
  background-color: #ddd;
  padding: 48px 12px;
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer.cpp img {
  width: 50px;
  margin-bottom: 0.75em;
}

footer.cpp span {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  font-weight: bold;
  color: #d00000;
}
