body {
  background-color: #fafafa;
  font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
}

@media (min-width: 400px) {
  h2 {
    font-size: 2rem;
  }
}

a {
  color: #d00000;
}

a:hover, a:focus {
  color: #a00000;
}

a.facebook {
  color: #1779ba;
}

a.facebook:hover, a.facebook:focus {
  color: #1468a0;
}

img.full-width {
  width: 100%;
}

.grid-container {
  max-width: 800px;
}

.header-for-dummies {
  display: none;
}

@media (min-width: 800px) {
  nav.overlay-nav {
    display: none;
  }

  .header-for-dummies {
    display: block;
    text-align: right;
    padding: 3px 12px;
  }
}

.overlay-nav-menu-toggle {
  position: absolute;
  font-size: 2.5rem;
  z-index: 5000;
  color: #fafafa;
  top: 0.5rem;
  left: 1.5rem;
  transition: color 250ms ease-in-out;
}

.overlay-nav-menu-toggle.close {
  position: fixed;
}

.overlay-nav-menu-toggle:hover {
  color: #fafafa;
}

.overlay-nav-menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  background: #d00000;
  background: linear-gradient(#a00000, #d00000);
  background-size: cover;
  text-align: center;
  transform: translateX(-100%);
  transition: transform 250ms ease;
}

.overlay-nav-menu li {
  font-size: 1.5rem;
}

.overlay-nav-menu a {
  display: block;
  color: #fafafa;
  font-weight: bold;
  height: 6.25rem;
  line-height: 6.25rem;
  border-bottom: 1px solid rgba(254, 254, 254, 0.5);
  text-decoration: none;
}

.overlay-nav-menu a:hover,
.overlay-nav-menu a.is-active {
  background-color: rgba(254, 254, 254, 0.6);
  color: #0a0a0a;
}

.overlay-nav-menu.is-open {
  transform: translateX(0);
}

.overlay-nav-menu ~ .overlay-nav-menu-toggle.close {
  display: none;
}

.overlay-nav-menu.is-open ~ .overlay-nav-menu-toggle.close {
  display: inline-block;
  color: #fafafa;
}

.overlay-nav-menu.is-open ~ .overlay-nav-menu-toggle.open {
  display: none;
}

.subnav-hero-section {
  text-align: center;
  background: #d00000;
  background: linear-gradient(#a00000, #d00000);
  position: relative;
  overflow: visible;
  height: 200px;
  margin-bottom: 24px;
  padding-top: 50px;
}

.subnav-hero-section img.logo {
  width: 80px;
}

.subnav-hero-section h1 {
  margin-top: 10px;
  font-size: 1.5rem;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

@media (min-width: 400px) {
  .subnav-hero-section {
    height: 250px;
  }

  .subnav-hero-section h1 {
    font-size: 2rem;
    margin-left: 15px;
  }

  .subnav-hero-section img.logo {
    width: 120px;
  }
}

@media (min-width: 640px) {
  .subnav-hero-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0px;
  }

  .subnav-hero-section h1 {
    margin-left: 30px;
    font-size: 2.5rem;
  }
}

@media (min-width: 800px) {
  .subnav-hero-section {
    height: 320px;
  }
}

.subnav-hero-section .subnav-hero-headline {
  color: #fafafa;
}

.subnav-hero-subnav {
  display: none;
  float: none;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  bottom: 0;
  width: 100%;
}

@media (min-width: 800px) {
  .subnav-hero-subnav {
    display: block;
  }
}

.subnav-hero-subnav li {
  float: none;
  display: inline-block;
}

.subnav-hero-subnav li a {
  padding: 0.9rem 1rem 0.6rem 1rem;
  color: #fafafa;
  display: block;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 250ms ease-in-out;
}

.subnav-hero-subnav li a.is-active {
  background-color: rgba(254, 254, 254, 0.15);
}

.subnav-hero-subnav li a:hover {
  background-color: rgba(254, 254, 254, 0.15);
}

#blueimp-gallery .description {
  display: none;
  position: absolute;
  bottom: 0;
  padding: 12px;
  color: #bbb;
  font-size: 12px;
}

#blueimp-gallery.blueimp-gallery-controls .description {
  display: block;
}

a.see-more-products {
  background-color: #d00000;
}

a.see-more-products:focus,
a.see-more-products:hover {
  background-color: #a00000;
}

.photos {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  margin-bottom: 1rem;
}

.photos .photo-wrapper {
  position: relative;
  background: black;
}

.photos .photo-wrapper a.thumbnail {
  display: block;
  margin: 0;
  transition: transform 250ms ease;
}

.photos .photo-wrapper a img {
  width: 100%;
}

.photos .photo-wrapper a.thumbnail .caption {
  display: none;
  position: absolute;
  left: .5rem;
  bottom: .5rem;
  right: .5rem;
  color: #fafafa;
  text-shadow: 0 0 3px #a00000;
  line-height: 1rem;
  font-size: 0.9rem;
}

.photos .photo-wrapper a.thumbnail:hover,
.photos .photo-wrapper a.thumbnail:focus {
  transform: scale(1.05);
  box-shadow: 0 0 6px 1px #a00000;
}

.photos .photo-wrapper a.thumbnail:hover img,
.photos .photo-wrapper a.thumbnail:focus img {
  opacity: 0.5;
}

.photos .photo-wrapper a.thumbnail:hover .caption {
  display: block;
}
