---
title: Cerámica Padilla Padilla
active_tab: catalog
---

<% data.categories.each do |category| %>
  <h2><%= category_name category %></h2>

  <%= image_tag "category/#{category["id"]}/#{category_slug(category)}.jpg" %>

  <%= simple_format category_description category %>

  <p>Ver <%= link_to "productos", "/es/catalogo/#{category_param(category)}/productos" %><p>
<% end %>
