---
title: Cerámica Padilla Padilla
active_tab: catalog
---

<% data.categories.each do |category| %>
  <h2><%= category_name category %></h2>

  <% link_to "/fr/catalogue/#{category_param(category)}/produits", class: "thumbnail" do %>
    <%= image_tag "category/#{category["id"]}/#{category_slug(category)}.jpg" %>
  <% end %>

  <%= simple_format category_description category %>

  <p>Voir <%= link_to "produits", "/fr/catalogue/#{category_param(category)}/produits" %><p>
<% end %>
