---
title: Cerámica Padilla Padilla
active_tab: catalog
---

<h2><%= category_name category %></h2>

<div class="photos">
  <% data["category_#{category["id"]}_products"].each do |product| %>
    <% link_to image_path("product/#{product["id"]}/#{product_slug(product)}.jpg"), title: product_name(product), class: "photo thumbnail" do %>
      <%= image_tag "product/#{product["id"]}/thumb/#{product_slug(product)}.jpg", alt: product_name(product) %>
    <% end %>
  <% end %>
</div>
