---
title: Cerámica Padilla Padilla
active_tab: catalog
---

<% data["category_#{category["id"]}_products"].each do |product| %>
  <h2><%= product_name product  %></h2>

  <%= image_tag "product/#{product["id"]}/#{product_slug(product)}.jpg" %>

  <%= simple_format product_description product %>
<% end %>
