---
title: Cerámica Padilla Padilla
active_tab: catalog
---

<div class="photos">
  <% data["category_#{category["id"]}_products"].each do |product| %>
    <div class="photo">
      <% link_to image_path("product/#{product["id"]}/#{product_slug(product)}.jpg"), class: "photo" do %>
        <%= image_tag "product/#{product["id"]}/#{product_slug(product)}.jpg" %>
      <% end %>
    </div>
  <% end %>
</div>
