---
title: Contact us
active_tab: contact
---

<h2>Contact us</h2>

<p>You can contact us through the following means:</p>

<dl>
  <dt>Phone<dt>
  <dd>(+34) 953 678 087</dd>
</dl>
<dl>
  <dt>Fax<dt>
  <dd>(+34) 953 670 902</dd>
</dl>
<dl>
  <dt>e-mail<dt>
  <dd><a href="mailto:fabrica@ceramicapadilla.es">fabrica@ceramicapadilla.es</a></dd>
</dl>
