---
title: Contactez-nous
active_tab: contact
---

<h2>Contactez-nous</h2>

<p>Vous pouvez nous contacter par :</p>

<dl>
  <dt>Téléphone<dt>
  <dd>(+34) 953 678 087</dd>
</dl>
<dl>
  <dt>Fax<dt>
  <dd>(+34) 953 670 902</dd>
</dl>
<dl>
  <dt>e-mail<dt>
  <dd><a href="mailto:fabrica@ceramicapadilla.es">fabrica@ceramicapadilla.es</a></dd>
</dl>
