---
title: Cerámica Padilla Padilla
active_tab: catalog
---

<h2>Ultimas novedades</h2>

<div class="photos">
  <% new_arrivals.each do |product| %>
    <div class="photo-wrapper">
      <% link_to image_path("product/#{product["id"]}/#{product_slug(product)}.jpg"), title: product_name(product), class: "photo thumbnail", data: { description: simple_format(product_description(product)) } do %>
        <%= image_tag "product/#{product["id"]}/thumb/#{product_slug(product)}.jpg", alt: product_name(product) %>
      <% end %>
    </div>
  <% end %>
</div>

<a class="button large expanded see-more-products" href="/es/catalogo">Ver mas productos</a>
