---
title: Who are we?
active_tab: who
---

<h2>Who are we?</h2>

<p>Cerámica Padilla Padilla is an artisan factory from Bailén, from father to son, now in its fifth generation, for over 200 years in the manufacture of ceramic art for different uses.</p>

<p><%= image_tag "who1.jpg" %></p>

<p>Currently provides domestic and international markets, meeting its three ranges widely with any need. Also availability for special jobs, exclusive and personalized.</p>

<dl>
  <dt>Household</dt>
  <dd>Cookware and tableware decorated by hand.</dd>
</dl>
<dl>
  <dt>Culinary</dt>
  <dd>Cooking pots and pieces, fire, oven and microwave resistant.</dd>
</dl>
<dl>
  <dt>Gardening</dt>
  <dd>Indoor and outdoor pots painted manually.</dd>
</dl>

<p><%= image_tag "who2.jpg" %></p>
