<h3>
  Disponible en todas las
  <%= link_to another_category.name, "/catalogo/#{another_category.slug}/productos" %>
</h3>

<%= partial "photos_small", locals: { products: another_category.products } %>
