<div class="photos small">
  <% products.each do |product| %>
    <div class="photo-wrapper">
      <% link_to image_path("product/#{product.id}/#{product.slug}.jpg"), title: product.name, class: "photo" do %>
        <%= image_tag "product/#{product.id}/thumb/#{product.slug}.jpg", alt: product.name %>
      <% end %>
    </div>
  <% end %>
</div>
