<div class="photos">
  <% products.each do |product| %>
    <% category = data.categories.find { |c| c.id == product.category_id } %>

    <div class="photo-wrapper">
      <% link_to image_path(product_photo_path(product)), title: product.name, class: "photo thumbnail", data: { product_url: category_product_path(category, product) } do %>
        <%= image_tag product_thumbnail_path(product), alt: product.name %>
        <span class="caption"><%= product.name %></span>
      <% end %>
    </div>
  <% end %>
</div>
