<div class="photos">
  <% products.each do |product| %>
    <% category = data.categories.find { |c| c.id == product.category_id } %>

    <div class="photo-wrapper">
      <% link_to image_path("product/#{product.id}/#{product.slug}.jpg"), title: product.name, class: "photo thumbnail", data: { product_url: "/catalogo/#{category.slug}/productos/#{product.id}-#{product.slug}" } do %>
        <%= image_tag "product/#{product.id}/thumb/#{product.slug}.jpg", alt: product.name %>
        <span class="caption"><%= product.name %></span>
      <% end %>
    </div>
  <% end %>
</div>
