<div class="photos small">
  <% products.each do |product| %>
    <div class="photo-wrapper">
      <% link_to image_path(product_photo_path(product)), title: product.name, class: "photo" do %>
        <%= image_tag product_thumbnail_path(product), alt: product.name %>
      <% end %>
    </div>
  <% end %>
</div>
