---
title: Catálogo
active_tab: catalog
---

<% data.categories.each do |category| %>
  <div class="category-wrapper">
    <h2><%= category.name %></h2>

    <div class="photo-and-description">
      <div class="photo">
        <% link_to "/catalogo/#{category.slug}/productos" do %>
          <%= image_tag "category/#{category.id}/#{category.slug}.jpg", class: "full-width" %>
        <% end %>
      </div>
      <div class="description">
        <%= simple_format category.description %>
      </div>
    </div>

    <%= link_to "Ver #{category.name}", "/catalogo/#{category.slug}/productos", class: "button large expanded" %>
  </div>
<% end %>
