---
title: Catálogo
active_tab: catalog
---

<% data.categories.each do |category| %>
  <div class="category-wrapper">
    <h2><%= category.name %></h2>

    <div class="photo-and-description">
      <div class="photo">
        <% link_to category_products_path(category) do %>
          <%= image_tag category_photo_path(category), class: "full-width" %>
        <% end %>
      </div>
      <div class="description">
        <%= simple_format category.description %>
      </div>
    </div>

    <%= link_to "Ver #{category.name}", category_products_path(category), class: "button large expanded" %>
  </div>
<% end %>
