---
title: Cerámica Padilla Padilla
active_tab: catalog
---

<% data.categories.each do |category| %>
  <h2><%= category.name %></h2>

  <p>
    <% link_to "/catalogo/#{category.slug}/productos" do %>
      <%= image_tag "category/#{category.id}/#{category.slug}.jpg" %>
    <% end %>
  </p>

  <%= simple_format category.description %>

  <p>Ver <%= link_to "productos", "/catalogo/#{category.slug}/productos" %><p>
<% end %>
