---
title: Cerámica Padilla Padilla
active_tab: catalog
---

<h2><%= category.es_name %></h2>

<div class="photos">
  <% data["category_#{category["id"]}_products"].each do |product| %>
    <div class="photo-wrapper">
      <% link_to image_path("product/#{product["id"]}/#{product_slug(product)}.jpg"), title: product.es_name, class: "photo thumbnail", data: { description: simple_format(product.es_description) } do %>
        <%= image_tag "product/#{product["id"]}/thumb/#{product_slug(product)}.jpg", alt: product.es_name %>
      <% end %>
    </div>
  <% end %>
</div>
