---
active_tab: catalog
---

<h2><%= category.name %></h2>

<%= partial "photos", locals: { products: category.products } %>

<%= link_to "Volver al catálogo", "/catalogo", class: "button expanded" %>
