---
title: Contacto
active_tab: contact
---

<h2>Contacto</h2>

<p>Puede contactar con nosotros a través de los siguientes medios:</p>

<dl>
  <dt><i class="fas fa-phone-alt"></i> Teléfono<dt>
  <dd>(+34) 953 678 087</dd>
</dl>
<dl>
  <dt><i class="fas fa-fax"></i> Fax<dt>
  <dd>(+34) 953 670 902</dd>
</dl>
<dl>
  <dt><i class="fas fa-envelope"></i> e-mail<dt>
  <dd><a href="mailto:fabrica@ceramicapadilla.es">fabrica@ceramicapadilla.es</a></dd>
</dl>
