---
title: Contacto
active_tab: contact
---

<h2>Contaco</h2>

<p>Puede contactar con nosotros a través de los siguientes medios:</p>

<dl>
  <dt>Teléfono<dt>
  <dd>(+34) 953 678 087</dd>
</dl>
<dl>
  <dt>Fax<dt>
  <dd>(+34) 953 670 902</dd>
</dl>
<dl>
  <dt>e-mail<dt>
  <dd><a href="mailto:fabrica@ceramicapadilla.es">fabrica@ceramicapadilla.es</a></dd>
</dl>
