---
title: Inicio
active_tab: home
---

<h2>&Uacute;ltimas novedades</h2>

<%= partial "photos", locals: { products: new_arrivals } %>

<%= link_to "Ver más productos", "/catalogo", class: "button large expanded" %>
