---
title: Inicio
active_tab: home
---

<h2>Ultimas novedades</h2>

<div class="photos">
  <% new_arrivals.each do |product| %>
    <div class="photo-wrapper">
      <% link_to image_path("product/#{product.id}/#{product.slug}.jpg"), title: product.name, class: "photo thumbnail", data: { description: simple_format(product.description) } do %>
        <%= image_tag "product/#{product.id}/thumb/#{product.slug}.jpg", alt: product.name %>
        <span class="caption"><%= product.name %></span>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "Ver mas productos", "/catalogo", class: "button large expanded see-more-products" %>
