---
title: Quienes somos?
active_tab: who
---

<h2>¿Qui&eacute;nes somos?</h2>

<p>Cerámica Padilla Padilla es una fábrica artesana de Bailén, de padres a hijos, ahora en su quinta generación, durante más de 200 años en la fabricación de cerámica artística para diferentes usos.</p>

<p><%= image_tag "who1.jpg", class: "full-width" %></p>

<p>Actualmente provee el mercado nacional e internacional, satisfaciendo ampliamente con sus tres gamas cualquier necesidad. Asimismo la disponibilidad para realizar trabajos especiales, exclusivos y personalizados.</p>

<dl>
  <dt>Menaje</dt>
  <dd>Artículos de cocina y mesa decorados a mano.</dd>
</dl>
<dl>
  <dt>Culinario</dt>
  <dd>Cazuelas y piezas para cocinar, resistentes al fuego, horno y microondas.</dd>
</dl>
<dl>
  <dt>Jardinería</dt>
  <dd>Macetas de interior y exterior pintadas manualmente.</dd>
</dl>

<p><%= image_tag "who2.jpg", class: "full-width" %></p>

<p>
  Cerámica Padilla Padilla ha recibido una ayuda de la Unión Europea con cargo al Programa Operativo FEDER de Andalucía 2014-2020, financiada como parte de la respuesta de la Unión a la pandemia de COVID-19 (REACT-UE), para compensar el sobrecoste energético de gas natural y/o electricidad a pymes y autónomos especialmente afectados por el incremento de los precios del gas natural y la electricidad provocados por el impacto de la guerra de agresión de Rusia contra Ucrania.
</p>

<p><%= image_tag "placa-ayuda-sobrecoste.png", class: "full-width" %></p>
